// Title Font

@font-face {
    font-family: "Wildcrazy";
    src: url("../../assets/Fonts/Wildcrazy/Wildcrazy.woff2") format("woff2"),
    url("../../assets/Fonts/Wildcrazy/Wildcrazy.woff") format("woff");
    font-style: normal;
}

// Stats Font

@font-face {
    font-family: "PressStart";
    src: url("../../assets/Fonts/PressStart/PressStart.woff2") format("woff2"),
    url("../../assets/Fonts/PressStart/PressStart.woff") format("woff");
    font-style: normal;
}