// Screensize Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors
$scroll-message: maroon;
$button: orange;
$primary-teal: rgb(84, 132, 159);

$secondary-teal: rgb(63, 96, 123);

$light-teal: rgb(123, 161, 183);