@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.chaos-selection {

    &__title {
        color: $secondary-teal;
        text-align: center;
        margin-top: 3rem;
        font-size: 1.5rem;
        opacity: 80%;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 2rem;
            margin: 2rem 0 3rem;
        }
    }

    &__selected {
        @extend .chaos-selection__title;
        color: $primary-teal;
        height: 2rem;
        margin-top: 5rem;
    }

    &__button-contain {
        display: flex;
        gap: 1rem;
    }

    &__button {
        @extend .chaos-selection__title;
        background-color: $secondary-teal;
        padding: 0.7rem 1rem;
        width: 10rem;
        margin: auto;
        margin-top: 5rem;
        border-radius: 1rem;
        color: white;

        &:hover {
            background-color: $button;
            cursor: pointer;
           }

        @include desktop {
            width: 15rem;
        }
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 10rem;
        gap: 3rem;
        margin-top: 5rem;
        flex-wrap: wrap;
    }

    &__image {
        width: 3rem;
        animation: item-float 2s linear infinite;

        @include tablet {
            width: 4rem;
        }

        @include desktop {
            width: 5rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__image-grey {
        @extend .chaos-selection__image;
        animation: none;
        filter: grayscale(100%);
    }

// Hidden if nothing is selected
    &__hidden {
        display: none;
    }
}

@keyframes item-float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(8px)}
    100% {transform: translateY(0px);}
}

