@use "../styles/partials/variables" as *;

.chaos {

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image, &__item {
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
    }

    &__item {
        animation: item-float 3s linear infinite;
        margin-top: 1rem;
    }

    &__item-hidden {
        display: none;
    }

    &__item-placeholder {
        width: 5rem;
        height: 6rem;
    }

    &__animation {
        position: relative;
        left: -9rem;
        top: -38rem;
    }

    &__animation-hidden {
        display: none;
    }

    &__hidden {
        width: 5rem;
        visibility: hidden;
    }

    &__stats {
        text-transform: uppercase;
        font-family: "PressStart";
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.5rem;
        color: black;
        opacity: 70%;
    }

    &__stats-hidden {
        display: none;
    }

    &__scroll-message {
        font-family: "PressStart";
        font-size: 0.8rem;
        height: 1rem;
        margin-top: 4rem;
        color: $scroll-message;
    }

    &__text, &__button {
        font-family: "PressStart";
        text-transform: uppercase;
        font-size: 0.6rem;
    }

    &__button {
       background-color: $button;
       padding: 0.5rem 1rem;
       color: white;
       font-size: 1rem;
       margin-top: 2rem;
       border-radius: 1rem;

       &:hover {
        background-color: teal;
        cursor: pointer;
       }
    }
    
// Unique positioning
// Element Pierce
    &__animation-pierce {
        position: relative;
        left: -9rem;
        top: -43rem;
    }

// Spectrum Goggle
    &__animation-spectrum {
        position: relative;
        left: -11.5rem;
        top: -39.5rem;
    }

// Mark of Naricain
    &__scroll-message-mon {
        font-family: "PressStart";
        font-size: 0.8rem;
        height: 1rem;
        margin-top: 1rem;
        color: $scroll-message;
    }

    &__scroll-container-mon {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 5rem;
    }

    &__animation-mon {
        position: relative;
        left: -9.4rem;
        top: -43rem;
    }

// Brown Work Glove
    &__animation-bwg {
        position: relative;
        left: -9rem;
        top: -37.8rem;
    }

// Containers
    &__item-container {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin: 1rem 0 2rem;
    }

    &__scroll-container {
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        gap: 5rem;
    }

    &__checkbox {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__whitescroll-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button-container {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    &__stats-container-hidden {
        visibility: hidden;
    }
}

@keyframes item-float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(8px)}
    100% {transform: translateY(0px);}
}