@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.chaos {

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image, &__item {
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
    }

    &__item {
        animation: item-float 3s linear infinite;
        margin-top: 1rem;
    }

    &__image-grey {
        @extend .chaos__image;
        filter: grayscale(100%);
    }

    &__item-hidden {
        display: none;
    }

    &__item-placeholder {
        width: 5rem;
        height: 6rem;
    }

    &__animation {
        position: relative;
        left: -6.8rem;
        top: -38rem;

        @include tablet {
            left: -8.3rem;
            top: -38rem;
        }

        @include desktop {
            left: -12.5rem;
        }
    }

    &__success {
        position: relative;
        left: -6.8rem;
        top: -46.8rem;
        width: 30rem;

        @include tablet {
            left: -8.3rem;
            top: -46.3rem;
        }

        @include desktop {
            left: -12.5rem;
        }
    }

    &__animation-hidden {
        display: none;
    }

    &__hidden {
        width: 5rem;
        visibility: hidden;
    }

    &__stats {
        font-size: 0.7rem;
        text-align: center;
        line-height: 1rem;
        color: black;
        opacity: 70%;

        @include desktop {
            font-size: 0.8rem;
        }
    }

    &__stats-hidden {
        display: none;
    }

    &__scroll-message {
        font-size: 0.5rem;
        height: 1rem;
        margin-top: 4rem;
        color: $scroll-message;
        line-height: 1.5rem;

        @include tablet {
            font-size: 0.7rem;
        }
    }

    &__text, &__button {
        font-size: 0.6rem;
    }

    &__button {
       background-color: $button;
       padding: 0.5rem 1rem;
       color: white;
       font-size: 1rem;
       margin-top: 2rem;
       border-radius: 1rem;

       &:hover {
        background-color: teal;
        cursor: pointer;
       }
    }
    
// Unique positioning
// Element Pierce
    &__animation-pierce {
        position: relative;
        left: -7rem;
        top: -42.5rem;

        @include tablet {
            left: -8.4rem;
            top: -42rem;
        }

        @include desktop {
            left: -12.5rem;
            top: -41rem;
        }
    }

    &__success-pierce {
        position: relative;
        left: -7rem;
        top: -51rem;
        width: 30rem;

        @include tablet {
            left: -8.2rem;
            top: -50.8rem;
        }

        @include desktop {
            left: -12.5rem;
            top: -49.5rem;
        }
    }

// Spectrum Goggle
    &__animation-spectrum {
        position: relative;
        left: -6.7rem;
        top: -39.5rem;

        @include tablet {
            left: -8.3rem;
            top: -39rem;
        }

        @include desktop {
            left: -12.5rem;
            top: -37.7rem;
        }
    }

    &__success-spectrum {
        position: relative;
        left: -7rem;
        top: -47.8rem;
        width: 30rem;

        @include tablet {
            left: -8.3rem;
            top: -47.8rem;
        }

        @include desktop {
            left: -12.5rem;
            top: -46.7rem;
        }
    }

// Mark of Naricain
    &__scroll-message-mon {
        font-size: 0.8rem;
        height: 1rem;
        margin-top: 1rem;
        color: $scroll-message;
    }

    &__scroll-container-mon {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 5rem;
    }

    &__animation-mon {
        @extend .chaos__animation-spectrum;
    }

    &__success-mon {
        @extend .chaos__success-spectrum;
    }

// Brown Work Glove
    &__animation-bwg {
        position: relative;
        left: -6.8rem;
        top: -37.3rem;

        @include tablet {
            left: -8rem;
        }

        @include desktop {
            left: -12.5rem;
            top: -37.5rem;
        }
    }

    &__success-bwg {
        position: relative;
        left: -6.8rem;
        top: -46.8rem;
        width: 30rem;

        @include tablet {
            left: -8.3rem;
            top: -46.3rem;
        }

        @include desktop {
            left: -12.5rem;
        }
    }

// Containers
    &__item-container {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 1rem 0 2rem;

        @include tablet {
            gap: 5rem;
        }
    }

    &__scroll-container {
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        gap: 3rem;
    }

    &__checkbox {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__whitescroll-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button-container {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    &__stats-container {
        margin-top: 1.5rem;
        width: 11.5rem;

        @include desktop {
            width: 20rem;
        }
    }

    &__stats-container-hidden {
        visibility: hidden;
    }
}

@keyframes item-float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(8px)}
    100% {transform: translateY(0px);}
}