@use '../../styles/partials/fonts' as *;

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-family: "Wildcrazy";
        padding-top: 2rem;
        opacity: 80%;
        font-size: 5rem;
        color: white;
    }

    &__logo {
        width: 10rem;
        padding-top: 2rem;
    }
}