@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.stats {
    &__main {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        opacity: 80%;
        margin: 2rem 0.5rem 0;
        padding: 1rem 0.5rem;
        border-radius: 3rem;

        @include tablet {
            width: 40rem;
            margin: auto;
            margin-top: 3rem;
        }

        @include desktop {
            width: 55rem;
            margin-top: 4rem;
        }
    }

    &__text {
        font-size: 0.7rem;
        color: $scroll-message;
    }
}