@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.landing-page {

    &__title {
        color: $primary-teal;
        text-align: center;
        margin: 2rem 0 2rem;
        font-size: 1.25rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 2rem;
            margin: 2rem 0 3rem;
        }
    }

    &__text {
        color: $light-teal;
        font-size: 0.7rem;
        margin-bottom: 1rem;
        line-height: 1.25rem;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.25rem;
            line-height: 1.6rem;
        }
    }

    &__red-text {
        color: red;
    }

    &__start {
        font-size: 1.25rem;
        margin: auto;
        margin-top: 5rem;
        background-color: $primary-teal;
        max-width: 10rem;
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
        color: white;

        @include tablet {
            font-size: 2rem;
        }

        &:hover {
            background-color: $button;
        }
    }

    &__list {
        font-size: 0.7rem;
        color: $secondary-teal;
        margin: 1rem 0 1rem;
        line-height: 1.5rem;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }
}